<ion-list class="nav-list" lines="none" >
  <ion-item class="nav-item" no-padding>
    <div>
      <span class="nav-clients-icon nav-icon"></span>
      <ion-label class="nav-item-label"><a routerLink="/clients" routerLinkActive="active-link">Clients</a></ion-label>
    </div>
  </ion-item>
  <ion-item class="nav-item" no-padding>
    <div>
      <!-- <ion-icon src="../../assets/icon/Menu-appointment.svg" class="nav-icon"></ion-icon> -->
      <span class="nav-appointments-icon nav-icon"></span>
      <ion-label class="nav-item-label">Appointments</ion-label>
    </div>
  </ion-item>
  <ion-item class="nav-item" no-padding>
    <div>
      <!-- <ion-icon src="../../assets/icon/Menu-Templates.svg" class="nav-icon"></ion-icon> -->
      <span class="nav-templates-icon nav-icon"></span>
      <ion-label class="nav-item-label">Templates</ion-label>
    </div>
  </ion-item>
  <ion-item class="nav-item" no-padding>
    <div>
      <ion-icon src="../../assets/icon/Menu-Profile.svg" class="nav-icon"></ion-icon>
      <ion-label class="nav-item-label">Profile</ion-label>
    </div>
  </ion-item>
</ion-list>